@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* Works on Firefox */
body {
    font-family: 'Rubik', sans-serif;
    background-color: gainsboro;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #244bbf white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #244bbf;
    border: 3px solid white;
}

.main {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer {
    background-color: #60A1F5;
    color: #FFFFFF;
    font-size: 16pt;
}

.btn-1 {
    background-color: #244bbf;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    margin-top: 25%;
    margin-right: 2%;
    font-family: 'Rubik', sans-serif;
}

.btn-2 {
    background-color: #ff8f2d;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    margin-top: 25%;
    margin-left: 2%;
    font-family: 'Rubik', sans-serif;
}

.btn-1:hover {
    background-color: #60A1F5;
}

.btn-2:hover {
    background-color: #ffb26f;
}

.tamanhoCarrosel {
    width: 90%;
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    margin-bottom: 5%;
}

.scrool {
    overflow-x: hidden;
    margin-bottom: 30px;
}

.scrool:hover {
    overflow-x: auto;
}


.quadradinhos {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 1320px;
}



.quadradinho {
    width: 198px;
    height: 198px;
    background-color: #60A1F5;
    margin-left: 66px;
    margin-right: 66px;
}

.album {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}